body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

.main {
	height: 90vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

.form-box {
	border: 1px solid black;
	background: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border-radius: 10px;
}

h1 {
	color: aqua;
	margin-bottom: 50px;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px blue;
}

.search-field {
	border: none;
	border-bottom: 1px solid aqua;
	background: transparent;
	outline: none;
	height: 40px;
	color: aquamarine;
	font-size: 13px;
	font-family: cursive;
	border-radius: 10px;
}

.place {
	width: 400px;
}

.location {
	width: 200px;
}

.search-btn {
	height: 45px;
	width: 100px;
	background: #12818b;
	color: black;
	border-radius: 20px;
}

.search-btn:hover {
	cursor: pointer;
	background: #3fb584;
	color: black;
	font-weight: bold;
}
