<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/views/css/about.css">
	<link rel="stylesheet" type="text/css" href="/views/css/main.css">
</head>

<body>
	<div class="header">
		<img src="/images/guidelogo3.png" class="guide" alt="Tourist guide logo">
		<a class="logotitle" href="/views/home.html"><strong>TourDe</strong></a>
		<div class="header-right">
			<a class="info" id="info1" href="/views/contactus.html"><strong>Contact us</strong></a>
			<a class="info" id="info1" href="/views/about.html"><strong>About</strong></a>
			<a class="info" id="info1" href="/views/login.html"><strong>Log in</strong></a>
			<a class="info" id="info1" href="/views/register.html"><strong>Register</strong></a>
		</div>
	</div>

	<div class="about">
		<p>
			gmklgklgknxknvknxfgjskb nf fkjdfbhsdbgbfzb fhuahfasfbhjfbs eker. fuhfuieah h aherf.a srihta hraiwhhfhsjruhfufbcuheurfbhrhc rheu hruerh crh uerhurh h fhfr u . urh r rhrh r ufheru r yry yerfbhdfbfke rfkjfnjfbdn aw hr whrs hsu hfhfu hfhhfufuhfHEui i awuh uh jruffu huhl. iiruh iurhr h ewi u hrr htrhgh4whg h hwhHU3U834JE VHRH HR HEWH8p esrtjh rilhdldhsjdjsgdscbxnvcuul irihfsuehfj,dhsjehr sher rhlleh rr rirhehle rhurhlre wuh wr a gyr gyrg gryry4 rga er hd f df ,sesf er f sgf seg ursekg gresyg er aer ae r aeglauer er
			eruhueauhaehr uarhuaerh hr hh s.>sU u uhIh. US gGesgyugerjd fhefsgsgfgueigu se
			urhusheeuhruer.
			gfghfghfjhfhgjf jfhgftjtfff t66f5tft56 rrk65f t56d56rf 65rf 656tn67 t67 67r6f5d4wse5srf7yyjhluh.
		</p>
	</div>

	<div class="footer">
		<p>Copyright&copy; TourDe 2019</p>
	</div>
</body>

</html>
