<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TourDe</title>
	<link rel="stylesheet" type="text/css" href="/views/css/home.css">
	<link rel="stylesheet" type="text/css" href="/views/css/main.css">
</head>

<body>
	<div class="header">
		<img src="/images/guidelogo3.png" class="guide" alt="Tourist guide logo">
		<a class="logotitle" href="/views/home.html"><strong>TourDe</strong></a>
		<div class="header-right">
			<a class="info" id="info1" href="/views/contactus.html"><strong>Contact us</strong></a>
			<a class="info" id="info1" href="/views/about.html"><strong>About</strong></a>
			<a class="info" id="info1" href="/views/login.html"><strong>Log in</strong></a>
			<a class="info" id="info1" href="/views/register.html"><strong>Register</strong></a>
		</div>
	</div>



	<div class="footer">
		<p>Copyright&copy; TourDe 2019</p>
	</div>
</body></html>
