<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand"><i class="fa fa-briefcase fa-1x"></i>TourDe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/list">List <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/insert">Insert</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Update</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Delete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Place name</th>
        <th scope="col">Country name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    
    <tbody>
        <%# if (data) { %>
        <%# data.forEach(function(user){ %>
        <tr class="table-primary">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <%# }) %>
        <%# } %>
    </tbody>
</table>
    <!--
        Using FOREACH LOOP for the users array
        
        myArray.forEach(function(el, index) {
            // el - current element, i - index
        });
    -->
 