<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TourDe Register</title>
	<link rel="stylesheet" type="text/css" href="/views/css/register.css">
	<link rel="stylesheet" type="text/css" href="/views/css/main.css">
</head>

<body>
	<div class="header">
		<img src="/images/guidelogo3.png" class="guide" alt="Tourist guide logo">
		<a class="logotitle" href="/views/home.html"><strong>TourDe</strong></a>
		<div class="header-right">
			<a class="info" id="info1" href="/views/contactus.html"><strong>Contact us</strong></a>
			<a class="info" id="info1" href="/views/about.html"><strong>About</strong></a>
			<a class="info" id="info1" href="/views/login.html"><strong>Log in</strong></a>
		</div>
	</div>

	<div class="registerbox">
		<img src="/images/loginlogo.png" class="logo">
		<h1>Register</h1>
		<form action="/views/registersuccess.html">
			<input type="text" id="input" name="" placeholder="Enter your first name"><br>
			<input type="text" id="input" name="" placeholder="Enter your last name"><br>
			<input type="email" id="input" name="" placeholder="Enter your email"><br>
			<input type="password" id="input" name="" placeholder="Enter password"><br>
			<input type="password" id="input" name="" placeholder="Re-enter password"><br>
			<input type="radio"><span> Male</span>
			<input type="radio"><span> Female</span>
			<input type="radio"><span> Others</span><br>
			<input type="checkbox" id="check"><span> I agree with the terms and conditions.</span><br>
			<input type="submit" id="submit" name="" value="Register">
		</form>
	</div>

	<div class="footer">
		<p>Copyright&copy; TourDe 2019</p>
	</div>
</body>

</html>
