.contact img {
	width: 150px;
	height: 150px;
	border-radius: 10%;
	position: absolute;
	float: left;
	margin-left: 65px;
	margin-top: -180px;
	border: 3px solid red;
}

.contact1 {
	float: left;
	width: 300px;
	height: 300px;
	border: 3px solid black;
	border-radius: 20px;
	top: 30%;
	right: 50%;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	padding: 90px 10px;
}

.contact2 {
	float: right;
	width: 300px;
	height: 300px;
	border: 3px solid black;
	border-radius: 20px;
	top: 30%;
	left: 50%;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	padding: 90px 10px;
}

h1 {
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	font-size: 20px;
	color: aqua;
}

.contact p {
	text-align: center;
	color: mediumaquamarine;
	margin: 0;
	padding: 0 0 10px;
}
