html {
	background: url(/images/loginpage.jpg) no-repeat center fixed;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: cursive;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.guide {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	top: 10px;
	left: 30px;
	position: fixed;
}

.header {
	overflow: hidden;
	padding: 10px 5px;
	background: rgba(0, 0, 0, 0.2);
}

.logotitle {
	color: #f3c5fb;
	margin-left: 65px;
	padding: 10px;
	text-align: left;
	font-size: 20px;
}

.header a {
	float: left;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

#info1 {
	color: black;
}

.info:hover {
	background-color: #f3c5fb;
	color: black;
}

.header-right {
	float: right;
	margin-right: 20px;
}

/*
.active {
	background-color: #f3c5fb;
	color: black;
}
*/
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #f3c5fb;
	text-align: center;
}
